[flake8]

# flake8-import-order
application-import-names = core

# flake8-annotations
extend-ignore = 
    ANN101, # missing type annotation for self in method
    ANN201, # missing return type annotation for public function
    ANN204, # missing return type annotation for special method
